@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  color:white;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: black;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: black;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #242424;
}
body{
  margin:0;
  background-color:black;
}
h1{
  font-size: 75px;
  letter-spacing: 0px;
  animation: glitch 1s linear infinite;
}
canvas{
  display: block;
  position:fixed;
}
input{
  color:black;
}
.button{
  color: black;
}
.container{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
}
.container section{
  min-width:100%;
  height:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.content{
  padding:0 15%;
}
.content ul{
  padding:20px 20px;
}

.title{
  font-size: 150px;
  letter-spacing: 7px;
  animation: glitch 1s linear infinite;
}
@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg);
  }
}

.title:before,
.title:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.title:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg);
  }
}

.title:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg);
  }
}
.arrow {
  cursor: pointer;
  height: 120px;
  left: 90%;

  top: 90%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
}
.arrow-top, .arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}
.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}
.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}
.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.5);
}
#upper-right{
  float:right;
  width:40vw;;
  text-align: right;
  height:80vh;

  padding: 100px 100px;
}

#wrapper-container{
  margin-left:auto;margin-right:auto;width:80vw;

}
#wrapper{
  display: flex;
  flex-direction:column;
  align-items: center;
  max-width: 50%;
  height:100vh;;
  overflow-x: hidden;
  overflow-y: scroll;


}
.post {
  cursor: pointer;
  position:relative;
  width:400px;
  height:auto;
  padding:10px 0;


}
.name{
  color:pink;
  font-size: 25px
}
